{% extends "base.html" %}

{% block content %}

<body>

    <header>
        <h2> Rock Paper Scissors - How does it work?</h2>
    </header>

    <p>
        Rock Paper Scissors is a game that is usually played by two people using their hands. <br>
        The idea is to make shapes with an outstretched hand where each shape will have a certain degree of power
        and will lead to an outcome.
        <br>
        <br>
        Rock wins against scissors.
        Scissors win against paper.
        Paper wins against rock.
    </p>
    <img src="static/rock-paper-scissors-shapes.png" alt="Rock, Paper, Scissors shapes">



    <p>source: <a href="https://wrpsa.com/the-official-rules-of-rock-paper-scissors/">
            The official rules of rock-paper-scissors</a> </p>

    <a href=""></a>


</body>
{% endblock%}